ErrorDocument 404 http://affordableattorneyleads.com/
# ErrorDocument 500 http://affordableattorneyleads.com.com/
# or map them to one error document:
# ErrorDocument 404 /pages/errors/error_redirect.php
# ErrorDocument 500 /pages/errors/error_redirect.php




# or map them to one error document:
#RewriteCond %{REQUEST_URI} ^/404/$ [OR]
#RewriteCond %{REQUEST_URI} ^/500/$
#RewriteRule ^(.*)$ /pages/errors/error_redirect.php [L]


RewriteEngine On
RewriteCond %{REQUES_FILENAME} !-d
RewriteCond %{REQUES_FILENAME} !-f
RewriteRule ^home?$ index.php

# RewriteCond %{REQUEST_URI} ^/404/$
# RewriteRule ^(.*)$ /pages/errors/404.php [L]



RewriteRule ^home/?$ home_pg.php
RewriteRule ^update-profile/?$ change-images.php
RewriteRule ^dashboard/?$ dashboard.php
RewriteRule ^leads/?$ display_leads_lawyer.php

RewriteRule ^login/?$ lawyer_login2.php
RewriteRule ^signup/?$ LawyerSignUp.php
RewriteRule ^testimonial/?$ write_testimonial.php


RewriteRule ^logout/?$ logout.php
RewriteRule ^change-is/?$ update-profiles.php
RewriteRule ^services/?$ Services.php
RewriteRule ^leads/?$ leads_lawyer.php
RewriteRule ^purpose/?$ purpose_lawyer.php
RewriteRule ^lawyer/?$ lawyer_home.php

RewriteRule ^about-leads/?$ about_our_leads_lawyer.php
RewriteRule ^about-Us/?$ aboutUs_lawyer.php

RewriteRule ^unbundled/?$ unbundle_lawyer.php
RewriteRule ^contact/?$ ContactUs_lawyer.php
RewriteRule ^Contact/?$ contactUs_dashboard.php
RewriteRule ^privacy/?$ privay_lawyer.php
RewriteRule ^terms-of-use/?$ Terms_of_use_lawyer.php
RewriteRule ^report-lead/?$ report.php
RewriteRule ^add-citie/?$ multiplleCities.php


RewriteRule ^autoresponder/?$ autorespond.php

RewriteRule ^add-cities/?$ add_multiple_city.php

RewriteRule ^add-estimate/?$ Leads_estimate.php

RewriteRule ^payment/?$ payment_new.php


RewriteRule ^request-feature/?$ add_feature.php
RewriteRule ^payments/?$ paymentForm.php




# DO NOT REMOVE THIS LINE AND THE LINES BELOW SSL_REDIRECT:app.affordableattorneyleads.com
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^app.affordableattorneyleads.com$
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE SSL_REDIRECT:app.affordableattorneyleads.com

# DO NOT REMOVE THIS LINE AND THE LINES BELOW SSL_REDIRECT:affordableattorneyleads.com
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^affordableattorneyleads.com$
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE SSL_REDIRECT:affordableattorneyleads.com
