RewriteEngine On
RewriteCond %{REQUES_FILENAME} !-d
RewriteCond %{REQUES_FILENAME} !-f

RewriteRule ^home?$ index.php

RewriteRule ^home/?$ home_pg.php
RewriteRule ^change-images/?$ change-images.php
RewriteRule ^dashboard/?$ dashboard.php
RewriteRule ^display-leads/?$ display_leads_lawyer.php

RewriteRule ^login/?$ lawyer_login2.php
RewriteRule ^signup/?$ LawyerSignUp.php


RewriteRule ^logout/?$ logout.php
RewriteRule ^update-profile/?$ update-profiles.php
RewriteRule ^services/?$ Services.php
RewriteRule ^leads/?$ leads_lawyer.php
RewriteRule ^purpose/?$ purpose_lawyer.php
RewriteRule ^lawyer/?$ lawyer_home.php

RewriteRule ^about-leads/?$ about_our_leads_lawyer.php
RewriteRule ^about-Us/?$ aboutUs_lawyer.php

RewriteRule ^unbundled/?$ unbundle_lawyer.php
RewriteRule ^contact/?$ ContactUs_lawyer.php
RewriteRule ^privacy/?$ privay_lawyer.php
RewriteRule ^terms-of-use/?$ Terms_of_use_lawyer.php
RewriteRule ^report-issue/?$ report.php
RewriteRule ^add-citie/?$ multiplleCities.php

RewriteRule ^add-cities/?$ add_multiple_city.php

RewriteRule ^leadsperday/?$ Leads_estimate.php

RewriteRule ^payment/?$ payment_new.php


RewriteRule ^add-feature/?$ add_feature.php
RewriteRule ^payment-form/?$ paymentForm.php



