@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}




/*it helps in image responsiveness*/
.images{
	width:100%;
	height:auto;
}
/*it helps in image responsiveness*/


/*it helps in scrolling page smoothly        it used in lawyer_home page*/
/*html{*/
/*	scroll-behavior:smooth;*/
/*}*/
/*it helps in scrolling page smoothly        it used in lawyer_home page*/


/*these font style and colors are used in most of the pages*/
.home_heading_settings{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:#005298;
}

.search_heading_settings{
	font-family:san "MS Serif", "New York", serif;
	color:#104e82;
}
/*these font style and colors are used in most of the pages*/


/*
.ft {
    position:relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.lah h1{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin-top:0px;
	color:#104e82;
	font-size:56px;
	
}

.c1 h3{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:#104e82;
	font-size:36px;
	
}
*/



/*used to handle background image of search_city section*/
.ser_top{
	background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(255, 255, 255, 0.5)),url(../Image/serbg.jpg);
	background-size:100% 100%;
	background-attachment:fixed;
	width:100%;
	height:680px;
	background-repeat:no-repeat;
}

.ser_border{
	 border: 12px solid rgba(0,78,103,.2); 
	 border-radius: 6px;
}

.services_bg{
	padding-top: 25px !important;
	padding-bottom: 45px !important;
	background-image: linear-gradient(rgba(244, 251, 255, 0.9),rgba(244, 251, 255, 0.9)),url(../Image/est1.jpg);
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.press_release_bg{
	background-image: linear-gradient(rgba(23, 26, 28, 0.9),rgba(20, 21, 21, 0.9)),url(../Image/imig.jpg);
	background-size:100% 100%;
	background-attachment:fixed;
	width:100%;
	height:380px;
	background-repeat:no-repeat;
}

.aboutUs_bg{
	padding-top: 25px !important;
	padding-bottom: 45px !important;
	background-image: linear-gradient(rgba(23, 26, 28, 0.7),rgba(20, 21, 21, 0.7)),url(../Image/f1.jpg);
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;

}

 
 
 .contactUs_bg{
	padding-top: 25px !important;
	padding-bottom: 45px !important;
	background-image: linear-gradient(rgba(23, 26, 28, 0.7),rgba(20, 21, 21, 0.7)),url(../Image/contactus1.jpg);
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

 .contactUs_bg1{
	padding: 100px 5px 100px 20px !important;
	background-image: linear-gradient(rgba(23, 26, 28, 0.7),rgba(20, 21, 21, 0.7)),url(../Image/agent.png);
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	border-radius:20px;
	margin-bottom:2px;
}

/*used to handle background image of search_city section*/

/*
.header_font1{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:45px;
	
	font-weight:bolder;
}

.nav_color{
	background:linear-gradient(180deg,#001b32 0,#234f6c);
}

.nav_color1{
	background:linear-gradient(340deg,#001b32 0,#234f6c);
}

.headerset{
	padding-top:250px;
	box-sizing:border-box;
}

.logo_text{
	font-family:"Comic Sans MS", cursive;
}

.headerset h1{
	font-size: 72px;
	font-weight:bold;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.headerset h4{
	font-size:32px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.ser_hov ul{
	opacity:0.5;
	font-family:Georgia, "Times New Roman", Times, serif;
}

 <!-- hover drop down -->
.dropdown-content a {
  display: block;
}

*/

/* I don't know the use of it */
.dropdown:hover .dropdown-content {background-color:#333; display: block;}

/*
.bg{
	background-color:#009;
}

.bg.scrolled{
	background-color:#0F0;
}

*/

/* to handle Iframe videos */
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video1 {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
/* to handle Iframe videos */



/* <!-- our services --> */
/*
.prac1	{
	background-color:#12447A !important;
}

.con_services{
	margin-top:750px;
}

.t1{
	font-size:46px;
	font-weight:bolder;
}

.services h1{
	
	font-size:46px;
	font-weight:bolder;
}
*/
.rowsetting1{
	margin:50px 40px !important;
	
}

/*
.rowsetting2{
	margin:50px 20px !important;
}

.rowsetting3{
	margin:1px 20px 40px 20px !important;
	padding:50px 30px 50px 30px;
	
}
*/

/*used in setting button width and height  or used i stretching out button widht equal to container*/
.button_size {
  width: 100%;
  height:50%;
}


/*
.law1 h3{
	
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:26px;
}
*/

.bottom_padding{
	padding-bottom:40px;
}


.image_padding{
	padding: 10px 10px 20px 10px;
}

/*
.rights h5{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:16px;
	font-weight:200;
}

.rights1{
	background-color:#004566;
}

.dash{
	margin-top:130px;
}

.ser_font{
	font-size:36px;
}


.margin_width{
	max-width:550px;
	margin-bottom:140px;
}
*/
.jl_heading{
	font-size:50px; 
	font-weight:800;
}

.jl1_heading{
	font-size:46px; 
	font-weight:800;
}

.xl_heading{
	font-size:38px; 
	font-weight:700;
}

.heading{
	font-size:25px; 
	font-weight:600;
}

.texts{
	font-size:20px; 
	font-weight:240;
}

.xs_texts{
	font-size:17px; 
	font-weight:200;
}

.xxs_texts{
	font-size:15px; 
	font-weight:180;
}

.xxs1_texts{
	font-size:11px; 
	font-weight:180;
}

.buttons1{
	font-size:22px; 
	background-color:#D9534F;
	color:#FFF;
	display: inline-block;
}

.buttons{
	font-size:22px; 
	background-color:#D9534F;
	color:#FFF;
	display: inline-block;
}


.ser_box{
	padding: 41px 0px 41px 31px;
	border-radius:0;
}

.ser_btn{
	padding:26.3px;
	border-radius:0;
	font-size:20px;
	background-color:#D9534F;
	color:#FFF;
}

@media(min-width: 992px){


}

@media(min-width: 768px) and (max-width: 1045px){
/*
.rowsetting1 h1{
	font-size:32px;
}
*/

.ser_top{
	background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(255, 255, 255, 0.5)),url(../Image/serbg.jpg);
	background-size:100% 100%;
	background-attachment:fixed;
	width:100%;
	height:680px;
	background-repeat:no-repeat;
}


.ser_box{
	padding: 41px 0px 41px 31px;
	border-radius:0;
}

.ser_btn{
	padding:26.3px;
	border-radius:0;
	font-size:20px;
	background-color:#D9534F;
	color:#FFF;
}

#hide_text{
	display:none;
}

	
.xl_heading,.jl_heading,.jl1_heading{
	font-size:36px; 
	font-weight:600;
}

.heading{
	font-size:22px; 
	font-weight:400;
	
}


.texts{
	font-size:18px; 
	font-weight:200;
}

.xs_texts{
	font-size:15px; 
	font-weight:200;
}

.xxs_texts{
	font-size:13px; 
	font-weight:180;
}

.xxs1_texts{
	font-size:11px; 
	font-weight:180;
}

.buttons{
	font-size:20px; 
	background-color:#D9534F;
	color:#FFF;
	display: inline-block;
}



}


@media(min-width: 576px) and (max-width: 767px){

.ser_top{
	background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(255, 255, 255, 0.5)),url(../Image/serbg.jpg);
	background-size:100% 100%;
	background-attachment:fixed;
	width:100%;
	height:700px;
	background-repeat:no-repeat;
}

.ser_box{
	padding: 34px 0px 30px 34px;
	border-radius:0;
}

.ser_btn{
	padding:17px;
	border-radius:0;
	font-size:20px;
	background-color:#D9534F;
	color:#FFF;
}


#hide_text{
	display:none;
}	

	
.rowsetting1 h1{
	font-size:32px;
}	

/*
.services button{
	display:none;
}
*/
.ser_border{
	 border: 0px; 
	 border-radius: 0px;
}

.child_block{
	display:none;

}


.xl_heading,.jl_heading,.jl1_heading{
	font-size:32px; 
	font-weight:500;
}

.heading{
	font-size:20px; 
	font-weight:400;
	
}
.texts{
	font-size:16px; 
	font-weight:200;
}

.xs_texts{
	font-size:13px; 
	font-weight:150;
}

.xxs_texts{
	font-size:11px; 
	font-weight:140;
}

.xxs1_texts{
	font-size:10px; 
	font-weight:140;
}

.buttons{
	font-size:17px; 
	background-color:#D9534F;
	color:#FFF;
	display: inline-block;
}

}

@media(min-width: 480px) and (max-width: 575px){
	/*
.headerset h1{
	font-size: 42px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.headerset h4{
		font-size:22px;
		font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	}
	
.ser_font{
	font-size:26px;
}

*/
.ser_top{
	background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(255, 255, 255, 0.5)),url(../Image/serbg.jpg);
	background-size:100% 100%;
	background-attachment:fixed;
	width:100%;
	height:700px;
	background-repeat:no-repeat;
}

.ser_box{
	padding: 30px 0px 30px 31px;
	border-radius:0;
}

.ser_btn{
	padding:16px;
	border-radius:0;
	font-size:18px;
	background-color:#D9534F;
	color:#FFF;
}


.ser_border{
	 border: 0px; 
	 border-radius: 0px;
}

.block_image{
	display:none;
}


#hide_text{
	display:none;
}





.xl_heading,.jl_heading,.jl1_heading{
	font-size:26px; 
	font-weight:400;
}


.heading{
	font-size:18px; 
	font-weight:300;
	
}

.texts{
	font-size:16px; 
	font-weight:200;
}

.xs_texts{
	font-size:11px; 
	font-weight:130;
}

.xxs_texts{
	font-size:9px; 
	font-weight:100;
}
.xxs1_texts{
	font-size:8px; 
	font-weight:100;
}

.buttons{
	font-size:15px; 
	background-color:#D9534F;
	color:#FFF;
	display: inline-block;
	padding:1;
}

}

@media(min-width: 400px) and (max-width: 479px){
	/*
.headerset h1{
	font-size: 32px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

	.headerset h4{
		font-size:12px;
		font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	}
	.ser_font{
	font-size:16px;
}

*/
.ser_top{
	background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(255, 255, 255, 0.5)),url(../Image/serbg.jpg);
	background-size:100% 100%;
	background-attachment:fixed;
	width:100%;
	height:700px;
	background-repeat:no-repeat;
}

.ser_box{
	padding: 30px 0px 30px 31px;
	border-radius:0;
}

.ser_btn{
	padding:16px;
	border-radius:0;
	font-size:17px;
	background-color:#D9534F;
	color:#FFF;
}

.ser_border{
	 border: 0px; 
	 border-radius: 0px;
}

#hide_text{
	display:none;
}


.block_image{
	display:none;
}

.xl_heading,.jl_heading,.jl1_heading{
	font-size:22px; 
	font-weight:300;
}

.heading{
	font-size:18px; 
	font-weight:300;
	
}

.texts{
	font-size:14px; 
	font-weight:200;
}

.xs_texts{
	font-size:9px; 
	font-weight:100;
}

.xxs_texts{
	font-size:7px; 
	font-weight:60;
}

.xxs1_texts{
	font-size:6px; 
	font-weight:60;
}

.buttons{
	font-size:12px; 
	background-color:#D9534F;
	color:#FFF;
	display: inline-block;
}

}

@media (max-width: 400px){
	/*
.headerset h1{
	font-size: 32px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

	.headerset h4{
		font-size:12px;
		font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	}
	.ser_font{
	font-size:16px;
}

*/
.ser_top{
	background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(255, 255, 255, 0.5)),url(../Image/serbg.jpg);
	background-size:100% 100%;
	background-attachment:fixed;
	width:100%;
	height:700px;
	background-repeat:no-repeat;
}

.ser_box{
	padding: 30px 0px 30px 31px;
	border-radius:0;
}

.ser_btn{
	padding:16px;
	border-radius:0;
	font-size:16px;
	background-color:#D9534F;
	color:#FFF;
}

.ser_border{
	 border: 0px; 
	 border-radius: 0px;
}

#hide_text{
	display:none;
}


.block_image{
	display:none;
}

.xl_heading,.jl_heading,.jl1_heading{
	font-size:20px; 
	font-weight:300;
}

.heading{
	font-size:16px; 
	font-weight:300;
	
}

.texts{
	font-size:13px; 
	font-weight:200;
}

.xs_texts{
	font-size:8px; 
	font-weight:100;
}

.xxs_texts{
	font-size:6px; 
	font-weight:60;
}

.xxs1_texts{
	font-size:5px; 
	font-weight:60;
}

.buttons{
	font-size:10px; 
	background-color:#D9534F;
	color:#FFF;
	display: inline-block;
}

}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

