@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;		
}

body{
	font-size:20px;
	overflow-x:hidden;
	font-family: 'Varela Round', sans-serif;
}
/*header starts*/
header{
	
	margin-top:76px !important;
	border-bottom:5px solid #267CB0;
}

.navh li{
	font-size:16px;
}

.logo{
	height: 60px;
	width:auto;
	float:left;
	margin-top:0px;
	margin-right:auto;	
}

/*header ends*/

/*Seach tutor section for student*/

.img_jumbo{
	margin-top:0px !important;
	background-image:linear-gradient(rgba(18,83,148,0.8),rgba(255,255,255,0.8)),url(file:///E|/Web%20Project1/images/find-the-best-home-tutors.jpg);
	background-size:100% 80%;
	background-repeat:no-repeat;
	background-position:top;
	background-attachment:fixed;
}

.stu-sec_find{
	height:auto;
	background-color: #e6e6e6;
}

/*Seach tutor section for student*/

/*STUDENT SECTION STARTS:*/

.stu-sec1{
	height:86vh;
	background-color: lavender;
}

.stu-formd{
	background: linear-gradient(rgba(62,130,174,0.1) ,rgba(62,130,174,0.1));
	color:#0D3477;
}

.client-form1{
	margin-left: 9%;
	width:80%;
}

.stu-sec2{
	height:150vh;
	background-color: azure;
}

.stu-formd2{
	background: linear-gradient(rgba(62,130,174,0.1) ,rgba(62,130,174,0.1));
	color:#0D3477;
}

.stu-sec3{
	height:40vh;
	background-color: azure;
}

.stu-formd3{
	background: linear-gradient(rgba(62,130,174,0.1) ,rgba(62,130,174,0.1));
	color:#0D3477;
}

.stu-sec4{
	height:auto;
	background-color: azure;
}

.stu-formd4{
	background: linear-gradient(rgba(62,130,174,0.1) ,rgba(62,130,174,0.1));
	color:#0D3477;
}
.stu-sec5{
	height:70vh;
	background-color: azure;
}

.stu-formd5{
	background: linear-gradient(rgba(62,130,174,0.1) ,rgba(62,130,174,0.1));
	color:#0D3477;
}
.stu-sec6{
	height:70vh;
	background-color: azure;
}

.stu-formd6{
	background: linear-gradient(rgba(62,130,174,0.1) ,rgba(62,130,174,0.1));
	color:#0D3477;
}
.stu-sec7{
	height:70vh;
	background-color: azure;
}

.stu-formd7{
	background: linear-gradient(rgba(62,130,174,0.1) ,rgba(62,130,174,0.1));
	color:#0D3477;
}


/*STUDENT SECTION ENDS:*/

/*TutorSignup1 Progress SECTION starts*/
.tutor_prog{
	padding:1.5% 6% 1.5% 5%;
	font-size:16px;
	color:#000;
	box-shadow:0px 0px 4px 0px; 
}
.tutor_prog1{
	padding:1.5% 6% 1.5% 5%;
	font-size:16px;
	color:#000;
	box-shadow:0px 0px 4px 0px; 
	background-color: teal;
}

.sec2{
	height:80vh;
	background-color: lavender;
}

.formd1{
	background: linear-gradient(rgba(62,130,174,0.1) ,rgba(62,130,174,0.1));
	color:#0D3477;
	border-radius: 1%;
	height:62vh;
}

.form2{
	margin-left: 9%;
	width:80%;
}

.tprofile{
	font-size:18px;
	padding:10px;
}

/*TutorSignup1 Progress SECTION ends*/

/*TutorSignup SECTION starts*/
.sec1{
	height:auto;
	background-color: lavender;
}

.sec3{
	height:150vh;
	background-color: lavender;
}
.sec4{
	height:220vh;
	background-color: lavender;
}

.formd{
	background: linear-gradient(rgba(62,130,174,0.1) ,rgba(62,130,174,0.1));
	color:#0D3477;
}

.form1{
	margin-left: 9%;
	width:80%;
}

.formd2{
	background: linear-gradient(rgba(62,130,174,0.1) ,rgba(62,130,174,0.1));
	color:#0D3477;
	height: auto;
}

.form3{
	margin-left: 9%;
	width:80%;
}

.formd3{
	background: linear-gradient(rgba(62,130,174,0.1) ,rgba(62,130,174,0.1));
	color:#0D3477;
}

.form4{
	margin-left: 9%;
	width:80%;
}

#m{
	height:auto;
	overflow:hidden;
	width:auto;
	margin: 0% 2% 0% 11%
}
#fm{
	height:auto;
	overflow:hidden;
	width:auto;
	margin: 0% 2% 0% 11%
}
.radio-mf{
	color:#666; 
	font-weight:lighter; 
	font-size:20px;
}

.password{
	margin-right:33%;
}
.password1{
	margin-left:3%;
	margin-right:5%;
}

.ccode{
	width: 8%;
	padding: 6px 0px 6px 8px;
	font-size: 1rem;
	color: #495057;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	background-color:hsl;
	margin-left:14px;
}
.mcode{
	width: 86%;
	padding: 6px 0px 6px 8px;
	font-size: 1rem;
	color: #495057;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	background-color:hsl;
}
.terms{
	font-size:14px;
}
.terms a{
	text-decoration:none;
}
/*TutorSignup SECTION ends*/

/*Footer starts*/
.foot1{	
	background-color: #1C425E;
	opacity: 0.9;
	overflow:hidden;
	height:auto;
}
.marg2{
	margin:1% 7% 0% 7%;
}
.logo1 img{
	height: 140px;
	width:auto;
	float:left;	
}
.logo1 .h33{
	color:#32A34F;
	position:absolute;
	margin-top: 10%;
	margin-left:-1%;
	font-size:26px;
	font-weight:bold;
}

.hf{
	color:#8BD6D2;
}

.rowf{
	margin-top:4%;
}

.main-navf{
	margin-top:5%;
	float:left;
	margin-left:3%;	
}

.main-navf li{
	display:block;
	list-style:none;
	padding:3px 40px 0px 2px;
}

.main-navf li a{

	color:#FFF;
	text-decoration:none;
	text-transform:uppercase;
	font-size:13px;
	font-weight:lighter;
	
}

.main-navf li a:hover{
	color:#919191;
}
/*header starts*/
	
	